:root{
    --primary-color:#909EA1;
    --secundary-color:#6E8D93;
    --dark:#383F44;
    --light:#C78F7E;
    --lighter: white;
    font-size: 10px;
}

.body{
    font-family: 'Comfortaa', cursive;
}
/*Header*/
.header{
    width: 100vw;
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--lighter);
    position: relative;
}
.container-logo{
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img{
    width: 5rem;
}
.menu-icon{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.5s;
    transform: rotateZ('0deg');
}
.nav{
    width: 4rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    position: absolute;
    width: 50%;
    height: calc(100vh - 5.5rem);
    transition: all 1s ease-out;
    top: 5rem;
    z-index: 5;
    left: -100%;
}
.menu-options{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s ease-out;
    background: var(--lighter);
    border-radius: 0 2rem 2rem 0;
    padding-top: 2rem;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 1rem;
    padding: 0;
}
.btn-menu{
    width: 16rem ;
    height: 8rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: light;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}
.btn-menu:hover{
    background-color: var(--secundary-color);
    border-color: var(--secundary-color);
}
.btn-menu:active{
    background-color: var(--secundary-color);
}
.svg-menu{
    width: 3.2rem;
    height: 3.2rem;
    fill: var(--primary-color);
}
.main-header{
    width: 100vw;
    height: calc(100vh - 5.5rem);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("assets/main-background.jpg") center center/cover no-repeat;
}
.main-header__h1{
    font-size: 4.8rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    color: var(--lighter);
    text-shadow: .5rem .6rem .6rem var(--dark);
    margin: 0 0 1.7rem 0;
}
.main-header__span{
    font-size: 5.6rem;
}
.main-header__p{
    font-size: 2rem;
    font-weight: bold;
    color: var(--lighter);
}
.btn-main-header{
    width: 15.5rem;
    height: 6rem;
    border-radius: 2rem;
    color: var(--lighter);
    border-color: var(--lighter);
    font-size: 2rem;
    position: absolute;
    bottom: 8rem;
}
.btn-main-header:hover{
    background-color: var(--secundary-color);
}
.btn-main-header:active{
    background-color: var(--primary-color);
}
/*Main*/

.about{
    width: 100vw;
    height: 100vh;
    background: url("/assets/about-background.png") center center/cover no-repeat;
}
.darkness-background{
    width: 100%;
    height: 100%;
    background-color: rgba(56, 63, 68, 0.7);
    padding-top: 2.5rem;
}
.page-header{
    width: 33.5rem;
    height: 4.5rem;
    border-bottom: 2px solid var(--light);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 0.25rem;
    margin: 0 auto;
}
.mini-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
    height: 2rem;
    gap: 1rem;
}
.house-mini-nav{
    width: 2rem;
    height: 2rem;
    color: var(--light);
}
.triangulo-mini-nav{
    width: 1.5rem;
    height: 1.5rem;
}
.mini-nav-icon{
    width: 2rem;
    height: 2rem;
}
.mini-title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 8rem;
    height: 2rem;
}
.mini-title-icon{
    width: 2rem;
    height: 2rem;
}
.section-title{
    color: var(--light);
    margin: 0;
}