:root{
    --primary-color:#909EA1;
    --secundary-color:#6E8D93;
    --dark:#383F44;
    --light:#C78F7E;
    --lighter: white;
    font-size: 10px;
}

.body{
    font-family: 'Comfortaa', cursive;
}
.header{
    width: 100vw;
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--lighter);
    position: relative;
}
.container-logo{
    width: 5rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img{
    width: 5rem;
}
.menu-icon{
    width: 4rem;
    height: auto;
    cursor: pointer;
}
.nav{
    width: 4rem;
    height: 5.5rem;
}
.menu{
    position: absolute;
    width: 50%;
    height: calc(100vh - 5.5rem);
    transition: all 1s ease-out;
    top: 5.5rem;
    z-index: 1;
    left: -100%;
}
.menu-options{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s ease-out;
    background: var(--lighter);
    border-radius: 0 2rem 2rem 0;
    padding-top: 2rem;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 1rem;
    padding: 0;
}
.btn-menu{
    width: 16rem ;
    height: 8rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: light;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}
.btn-menu:hover{
    background-color: var(--secundary-color);
    border-color: var(--secundary-color);
}
.btn-menu:active{
    background-color: var(--secundary-color);
}
.svg-menu{
    width: 3.2rem;
    height: 3.2rem;
    fill: var(--primary-color);
}
.main{
    width: 100vw;
    height: calc(100vh - 55px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("assets/main-background.jpg") center center/cover no-repeat;
}
.main__h1{
    font-size: 4.8rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    color: var(--lighter);
    text-shadow: .5rem .6rem .6rem var(--dark);
    margin: 0 0 1.7rem 0;
}
.main__span{
    font-size: 5.6rem;
}
.main__p{
    font-size: 2rem;
    font-weight: bold;
    color: var(--lighter);
}
.btn-main{
    width: 15.5rem;
    height: 6rem;
    border-radius: 2rem;
    color: var(--lighter);
    border-color: var(--lighter);
    font-size: 2rem;
    position: absolute;
    bottom: 8rem;
}
.btn-main:hover{
    background-color: var(--secundary-color);
}
.btn-main:active{
    background-color: var(--primary-color);
}