:root{
    --primary-color:#909EA1;
    --secundary-color:#6E8D93;
    --dark:#383F44;
    --light-dark:#c7735a;
    --light:#C78F7E;
    --lighter: #ffff;
    --ligther-dark:#bebebe;
    font-size: 10px;
}

.body{
    font-family: 'Comfortaa', cursive;
}
/*Header*/
.header{
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--lighter);
    position: relative;
}
.container-logo{
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img{
    width: 5rem;
}
.menu-icon{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.5s;
    transform: rotateZ('0deg');
}
.nav{
    width: 4rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    position: absolute;
    width: 50%;
    height: calc(100vh - 5.5rem);
    transition: all 1s ease-out;
    top: 5.5rem;
    z-index: 5;
    left: -100%;
}
.menu-options{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s ease-out;
    background: var(--lighter);
    border-radius: 0 2rem 2rem 0;
    padding-top: 2rem;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 1rem;
    padding: 0;
}
.btn-menu{
    width: 16rem;
    height: 8rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: light;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    border: .1rem solid var(--dark);
    background-color: var(--lighter);
}
.btn-menu:hover{
    border-color:var(--dark);
    background-color: var(--lighter);
}
.btn-menu:active{
    color: var(--ligther-dark);
    border-color: var(--ligther-dark);
}
.svg-menu{
    width: 3.2rem;
    height: 3.2rem;
}
.main-header{
    width: 100%;
    height: calc(100vh - 5.5rem);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/assets/main-background.jpg") center center/cover no-repeat;
}
.main-header__h1{
    font-size: 4.8rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    color: var(--lighter);
    text-shadow: .5rem .6rem .6rem var(--dark);
    margin: 0 0 1.7rem 0;
}
.main-header__span{
    font-size: 5.6rem;
}
.main-header__p{
    font-size: 2rem;
    font-weight: bold;
    color: var(--lighter);
}
.btn-main{
    width: 15.5rem;
    height: 6rem;
    border-radius: 2rem;
    font-size: 2rem;
    position: absolute;
    bottom: 8rem;
    border: .1rem solid var(--lighter);
    background-color: transparent;
    color: var(--lighter);
    transition: all 0.3s;
}
.btn-main:hover{
    border-color: var(--lighter);
    color: var(--lighter);
}
.btn-main:active{
    border-color: var(--primary-color);
    color: var(--primary-color);
}
/*Main*/
/*Headers*/
.page-header{
    width: 100%;
    height: 4.5rem;
    border-bottom: 2px solid var(--light);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 0.25rem;
    margin-bottom: 7rem;
}
.mini-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
    height: 2rem;
    gap: 1rem;
}
.house-mini-nav{
    width: 2rem;
    height: 2rem;
    color: var(--light);
}
.triangulo-mini-nav{
    width: 1.5rem;
    height: 1.5rem;
}
.mini-nav-icon{
    width: 2rem;
    height: 2rem;
}
.mini-title{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    width: 8rem;
    height: 2rem;
}
.mini-title-icon{
    width: 2rem;
    height: 2rem;
}
.section-title{
    height: 2rem;
    color: var(--light);
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3rem;
    margin: 0;
}
/*Darkness Background*/
.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 2rem 6.5rem 2rem;
}
/*About*/
.about{
    width: 100%;
    height: 100vh;
    background: url("/assets/about-background.png") center center/cover no-repeat;
}
/*About Content*/
.about-content{
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/*Content*/
.content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
/*About Image*/
.profile-container{
    width: 16.5rem;
    height: 30rem;
    position: relative;
}
.profile-background{
    width: 14rem;
    height: 28rem;
    background: linear-gradient(rgba(199, 143, 126, 0.8),rgba(144, 158, 161, 0.8));
    position: absolute;
    bottom: 0;
    left: 0;
}
.profile-image{
    width: 14rem;
    height: 28rem;
    position: absolute;
    top: 0;
    right: 0;
}
.about-description{
    width: 16rem;
    height: 27rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: var(--lighter);
    text-align: justify;
}
.overflow{
    position: absolute;
    width: 33.5rem;
    left: 0;
    bottom: 9rem;
}
/*CV button About*/
.btn-cv{
    width: 20rem;
    height: 4rem;
    border-radius: 2.5rem;
    color: var(--lighter);
    font-size: 1.4rem;
    font-weight: 400;
    background-color: var(--light);
    border: none;
    transition: all 0.3s;
}
.btn-cv:hover{
    color: var(--lighter);
    background-color: var(--light);
    border: none;
}
.btn-cv:active{
    background-color: var(--light-dark);
    border: none;
}
/*Skills*/
.skills{
    width: 100%;
    height: 100vh;
    background: url("/assets/skills-background.png") center center/cover no-repeat;
}
/*Skills Content*/
.skills-content{
    width: 100%;
    height: 17rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,7.5rem);
    column-gap: 1rem;
    row-gap: 1.7rem;
    margin: 0 0 4rem 0;
}
/*Skill card*/
.skill-card{
    width: 7.5rem;
    height: 7.5rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img{
    width: 4.1rem;
    height: 4.1rem;
}
/*Skill button*/
.btn-skill-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.btn-skills{
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    padding: .1rem 0;
    transition: all 0.3s;
}
.btn-skills:hover{
    color: var(--primary-color);
    border-color: transparent;
    background-color: transparent;
}
.btn-skills:active{
    color: var(--secundary-color);
    border-color: transparent;
    background-color: transparent;
}
.skill-arrow{
    width: 2rem;
    height: 2rem;
}
/*Skill hover card*/
.card-hover{
    width: 14rem;
    height: 18rem;
    background-color: var(--secundary-color);
    border-radius: 2rem;
    position: absolute;
    z-index: 1;
    opacity: 0;
}
.card-hover::after{
    content: "";
    width: 5rem;
    height: 2.5rem;
    clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
    background-color: var(--secundary-color);
    position: absolute;
    top: -2.4rem;
    right: 4.5rem;
}
/*Portfolio*/
.portfolio{
    width: 100%;
    height: 100vh;
    background: url("/assets/portfolio-background.png") center center/cover no-repeat;
}
/*Portfolio nav*/
.portfolio-nav{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-portfolio{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.3s;
}
.btn-portfolio:hover{
    color: var(--secundary-color);
}
.btn-portfolio:active{
    color: var(--dark);
}
.btn-active{
    color: var(--secundary-color);
}
/*Feacture section*/
.feactured-content{
    width: 100%;
    height: 48rem;
    margin-top: 3rem;
    gap: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feactured{
    width: 2rem;
    height: 2rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
}
.main-feactured{
    width: 22rem;
    height: 22rem;
}
.feactured-extra-content{
    width: 100%;
    height: 24rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}
.extras-feactured{
    width: 10rem;
    height: 10rem;
}
.all-content{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 13rem 13rem;
    column-gap: 3rem;
    gap: 3rem;
}
.all{
    width: 13rem;
    height: 13rem;
}